<div class="form-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="form-outer text-center col-lg-4">
          <div class="text-center form-group">
            <button class=" pad but-none" [routerLink]="['/login']" id="log">
              <b>LOG IN</b>
            </button>
            <button class=" pad but-color" [routerLink]="['/signup']" href="" id="sign">
              <b>SIGN UP</b>
            </button>
          </div>
          <div id="login">
            <form ngNativeValidate (ngSubmit)="postdata(registeruser)" autocomplete="off">


              <div class="form-group">

                <input type="text" name="name"  autocomplete="off" class="form-control input-sm"
                  placeholder="Name" [(ngModel)]="registeruser.name" required >
              </div>
              <div class="form-group">

                <input type="email" name="email"  autocomplete="off"
                  class="form-control input-sm" placeholder="Email" [(ngModel)]="registeruser.email" required>
              </div>
              <div class="form-group">

                <input type="password" name="Password"  autocomplete="off"
                  class="form-control input-sm" placeholder="Password" [(ngModel)]="registeruser.password" required>
              </div>

              <div class="form-group">

                <input type="password" name="Passwordconfirm"  autocomplete="off"
                  class="form-control input-sm" placeholder="Password" [(ngModel)]="registeruser.passwordconfirm" required>
              </div>

              <div>
                <button type="submit" class="btn btn-primary btn-info but">Register</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
