<div class="form-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
        </div>
        <div class="form-outer text-center col-lg-4">
          <div class="text-center form-group">
            <button class=" pad but-color" id="log">
              <b>LOG IN</b>
            </button>
            <button class=" pad but-none" [routerLink]="['/signup']" href="" id="sign">
              <b>SIGN UP</b>
            </button>
          </div>
          <div id="login">

            <form ngNativeValidate (ngSubmit)="postdata(loginuser)" autocomplete="off">

              <div class="form-group">
                <input type="email" name="email" autocomplete="off" class="form-control input-sm" placeholder="Email"
                  required [(ngModel)]="loginuser.email">
              </div>

              <div class="form-group">
                <input type="password" name="Password" autocomplete="off" class="form-control input-sm"
                  placeholder="Password" required [(ngModel)]="loginuser.password">
              </div>

              <div>

                <button type="submit" class="btn btn-primary btn-info but">Login</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
